/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#content {
	display: inline-block;
	padding: 5px;
	width: 600px;
	background-color: black;
	color:white;
	height: 500px;

}
#content img {
	border: solid grey;
	padding:3px;
	margin-left: 20px;
	margin-top: 5px;
}
#content p {
	margin-left: 20px;
}
#content h1 {
	margin-left: 20px;
}