/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#content {
	display: inline-block;
	width: 470px;
	background-color: black;
	color:white;
	height: 425px;
	margin-left: 3px;

}
#content img {
	border: solid grey;
	margin-left: 3px;
}
#content p {
	margin: 5px;
}
#content h1 {
	margin: 5px;
}