/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#content {
	display: inline-block;
	padding: 5px;
	width: 600px;
	background-color: black;
	color:white;

}
#content img {
	border: solid grey;
}